div#div1{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    max-width: auto;
    max-height: auto;/*5. consegna*/
}   

@media(min-width: 576px){
    div#div1{
        background-color: lightblue;
        width: 300px;
        height: 300px;
    };
}
@media(min-width:768px){
    div#div1{
        background-color: pink;
        width: 450px;
        height: 450px;
    }
}
@media(min-width:992px){
    div#div1{
        background-color: orange;
        width: 600px;
        height: 600px;
    }
}
@media(min-width:1200px){
    div#div1{
        background-color: green;
        width: 750px;
        height: 750px;
    }
}   /*1. consegna*/

section.titolo a{
    color: green;
}   /*2. consegna*/
footer a{
    color: grey;
}/*3.consegna*/
footer a:visited{
    color: grey;
} /*4. consegna*/
/*--------------------------------------------------------- es. layout responsive*/

header#titolo2 h2::first-letter{
    font-size: 2em;
}   /*A. consegna*/
section#paragrafi p:first-child:first-line{
    font-weight: bold;
}
section#paragrafi p:first-child{
    max-width: 50%;
}
section#paragrafi p:nth-child(2){
    max-width: 80%;
}  /*B. consegna*/
section#paragrafi p:first-child::before{
    content: "- ";
}
section#paragrafi p:last-child::before{
    content: "- ";
}       /*C. consegna*/
/*---------------------------------------------------------es. menu pseudoelementi*/
ul#referenze li.primo a:first-child{
    background-color: fuchsia;
    color: white;
    display: inline;
}       /*D1 consegna*/
ul#referenze li.lista a:hover{
    background-color: green;
    display: inline;
}       /*D2 consegna*/
ul#referenze li a:visited{
    color: gray;
}       /*D3 consegna*/
/*-------------------------------------------------------es. menu pseudoclassi*/
section#confronto img.mw{   /*100% della risoluzione dell'immagine*/
    max-width: 100%;
}
section#confronto img.w{    /*100% della dimensione dello schermo indipendentemente dallo schermo*/
    width: 100%;
}       /*E. consegna*/
/*----------------------------------------------------es.max-width*/
section.testo{
    margin-bottom: 1em;
    background-color: lightgreen;
}
/* section.testo p{
    padding: 1em; 
    margin: 15px 10%;        
    border: 3px dotted black;
    background-color: lightblue;
}        */

/*F. consegna*/
section.riga{
    margin: 0 auto;
    width: 90%;
    font-size: 0px;
}
section.testo{
    width: 100%;
    margin-left: auto;
    margin-right: auto; /*per centrare gli elementi*//*chiedere al prof per chiarimenti*/
    display: inline-block;
    font-size: 16px;
}
@media screen and(min-width: 760px){
        section.testo{
            max-width: 80%;
        }
}/*G. consegna*/
section.box, section.cbox{
    border: 1px solid black;
    padding: 10px;
}
section.box{
    box-sizing: border-box;                 
}/*H. consegna*/
section.cbox{
    box-sizing: content-box;                 
}/*H. consegna*/
@media screen and (min-width: 760px) {
    section.testo{
    width: 32%;
    }
    section.riga section:nth-child(1),section.riga section:nth-child(2){
        margin-right: 0.8em;
    }
}
/*------------------------------------------es. box model*/
nav#linkvari ul li{
    display: inline;
    padding: 0.5em;
}/*I. consegna*/
/* nav#linkvari ul li:first-child{
    background-color: pink;
}
nav#linkvari ul li:last-child{      
    background-color: pink;                          
} 
nav#linkvari ul li:first-child a{      
    color: white;
}
nav#linkvari ul li:last-child a{
    color: white;
} */
/*L. consegna*/
nav#linkvari ul li:nth-child(even){
    background-color: black;
}
nav#linkvari ul li:nth-child(odd){
    background-color: lightgreen;
}
nav#linkvari ul li a{
    color: white;
}   /*M. consegna*/
nav#linkvari ul li:not(.piccoli) a{
    font-size: 1.5em;
}   /*N. consegna*/
/*-------------------------------------------es.pseudoclassi strutturali*/
input:disabled{
    background-color: grey;
}/*O. consegna*/
fieldset.interessi input:checked+label{     
    font-size: 2em;
    color: tomato;
}/*P. consegna*/
/*-----------------------------------------------es.pseudoclassi input*/