body{
    margin: 0;
}
#logo{
    margin: 20px auto;
    display: block;
    max-width: 120px;
}
#navigazione{
    padding: 5px;
    background-color:slateblue;
    color: white;
    text-align: center;
}
#navigazione ul li{
    display: inline;
    margin: 0 10px;
}/*menu nav*/

section#testo{
    margin: 20px auto;      /*non appaiono le icone*/
    width: 80%;
    font-size: 0px;
   
}
section#testo div{
    width: 33%;
    display: inline-block;
    text-align: center;
    font-size: 15px;
}
.servizio{
    padding: 0px 10px;
    box-sizing: border-box;
    text-align: justify;
}

