h1{
    text-align: center;
}
#galleria{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 300px;
    gap: 10px;
    width: 90%;
    margin: auto;
}
#galleria .uno img{
    object-position: center 10%;
}
#galleria .sette img{
    object-position: center 60%;
}
#galleria .quattro img{
    object-position: center 5%;
}
#galleria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
} 
#galleria div:nth-child(1){
    grid-column: span 2;
}
#galleria div:nth-child(5){
    grid-column: span 2;
}
#galleria div:nth-child(6){
    grid-row: span 2;
}
#galleria div:nth-child(7){
    grid-column: span 3;
}

@media screen and (max-width: 516px){
    #galleria{
        width: 80%;
        grid-template-columns: 100%;
        display: block;
    }
    #galleria img{
        max-height: 300px;
    }

}