
h1,h2,h3{ 
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;     /*weight da impostare con un valore (default:400)*/
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}
h1,h2,h3{
    text-align: center;
}
#riferimenti{
    display: flex;              /*argomento pagina 162*/
    flex-direction: row;    /*disposizione su riga*/
    gap: 20px;          /*per spaziarli*/
    justify-content: space-between;
    background-color: blue;
    padding: 0.5em 1em;  /*il padding è lo spazio tra il bordo e il contenuto*/
}
#riferimenti i{
    color: white;
}
.container{
    width: 90%;
    margin: auto;
}
.container-fluid{
    width: 100%;
    margin: auto;
}
.container,.container-fluid{
    margin: 1em;
}
#primo-piano{
    display: flex;
    flex-direction: column;
}
#primo-piano article{
    margin-bottom: 2em;
}
.image-article{
    width: 100%;
    max-height: 15rem;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 4px;
}
.image-article img{
    width: 100%;
    height: 14.5rem;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
#titoli{
    display: flex;
    flex-direction: column;
}
#titoli > div{
    margin: 0.5em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
button{
    background-color: darkblue;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-size: 1em;
    max-width: 10em;
    border: none;
}
@media screen and (min-width: 576px)
{
    .container{
        width: 80%;
        margin: auto;
    }
    #primo-piano{
        flex-direction: row;
        flex-wrap: wrap;        /*manda a capo*/
        justify-content: space-evenly;
    }
    #primo-piano article{
        width: 50%;
        padding: 1em;
    }   
    #titoli{
        flex-direction: row;
        justify-content: space-between;
    }
}
@media screen and (min-width: 768px)
{
    #primo-piano{
        justify-content: space-evenly;
    }
    #primo-piano article{
        width: 33%;
    } 
}
@media screen and (min-width: 1200px)
{
    #primo-piano article{
        width: 25%;
    }
}